{% extends 'base/base.html' %}
{% load staticfiles %}
{% block extrastatic%}
    <link rel="stylesheet" type="text/css" href="{% static 'css/calendar.css'%}">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
{% endblock %}
{% block containerType %}
	<div class="container-fluid">
{% endblock %}

{% block content%}
    <div class="row">
        <div class="col-md-12 col-xs-12 text-center monthControl">
            <span class="col-xs-3">
                <a class="icon-button" href="{% url 'event:calendarView'%}?newmonth={{ previous_month }}&newyear={{ year }}">
                    <span class="glyphicon glyphicon-chevron-left"></span></a>
            </span>
             <span class="col-xs-6">
                 <input  data-width="100%" type="checkbox" checked data-toggle="toggle"
                        data-on="Calendar {{ month }} - {{ year    }}" data-off="List" data-onstyle="primary"
                         data-offstyle="primary" data-size="large" onchange = "setTimeout(function(){document.location.href='{% url 'event:event_list' %}' },500)">
             </span>
            <span class="col-xs-3">
                <a class="icon-button" href="{% url 'event:calendarView'%}?newmonth={{ next_month }}&newyear={{ year }}">
                    <span class="glyphicon glyphicon-chevron-right"></span></a>
            </span>
        </div>
    </div>
    <div class="calendar col-md-12 text-center">
        <div class="day dayName">SUNDAY</div>
        <div class="day dayName">MONDAY</div>
        <div class="day dayName">TUESDAY</div>
        <div class="day dayName">WEDNESDAY</div>
        <div class="day dayName">THURSDAY</div>
        <div class="day dayName">FRIDAY</div>
        <div class="day dayName lastDay">SATURDAY</div>

    </div>
    <script type="text/javascript">
        {% if object_list %}
            var events = {{ object_list|safe }};
            var calendarMonth = '{{ month }}';
        {%else%}
                alert("vacio");
        {% endif %}
    </script>
{%endblock%}
{% block javascript %}
<script type="text/javascript" src="{% static 'js/calendar.js' %}"></script>
{% endblock %}