{% extends 'base/base.html' %}
{% load widget_tweaks %}
{% load staticfiles %}
{% block extrastatic%}
    <link rel="stylesheet" type="text/css" href="{% static 'css/event.css'%}">
{% endblock %}
{% block content%}

<!-- Modal Client Form [future feature]
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Client Form</h4>
        </div>
        <div class="modal-body" id="clientModalBody">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>
-->

<form method="post">
	{% csrf_token %}
		<div class="col-md-6">
			<div class="form-group">
                <!-- modal feature <button id="btnClientModal" type="button" class="btn btn-success modalBtn" data-toggle="modal" data-target="#myModal">+</button>-->
				<label>Client</label>
				{{ form.client|add_class:"" }}
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
                <label>Location</label>
                {{ form.location|add_class:"" }}
            </div>
		</div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Ballroom Name</label>
                {{ form.ballroom }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Floor Level</label>
                {{ form.floor_level}}
            </div>
        </div>
		<div class="col-md-6">
            <div class="form-group">
                <label>Start Time</label>
                {{ form.start_time}}
            </div>
        </div>
        <div class="col-md-3">
			<div class="form-group">
				<label>Drop Off Time</label>
                {{ form.drop_off_time }}
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label>Pick Up Time</label>
				{{ form.pick_up_time }}
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label>Event Name</label>
				{{ form.event_name}}
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label>Contact Date</label>
				{{ form.contact_date}}
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label>Event Date</label>
				{{  form.event_date }}
			</div>
		</div>
        <div class="col-md-6">
			<div class="form-group">
				<label>Item</label>
    			{{ form2.item|add_class:"" }}
			</div>
        </div>
		<div class="col-md-3">
            <div class="form-group">
				<label>Quantity</label>
				{{  form2.quantity }}
			</div>
        </div>
		<div class="col-md-3">
            <div class="form-group">
				<label>Unit Price</label>
				{{ form2.unit_price }}
			</div>
        </div>
        <div class="col-md-6">
			<div class="form-group">
                <label>Comments</label><br/>
                {{ form.comments }}
			</div>
		</div>
		<div class="col-md-6 noPaddingLR">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Delivery</label>
                    {{ form.delivery_cost }}
                </div>
            </div>
            <div class="col-md-12 col-xs-12">
                <div class="form-group">
                    <label>Subtotal</label>
                    <input class="form-control" type="text"  id="subtotal" readonly/>
                </div>
            </div>
            <div class="col-md-4 col-xs-4">
                <div class="form-group">
                    <label>Tax %</label>
                    {{ form.tax_percentage }}
                </div>
            </div>
            <div class="col-md-8 col-xs-8">
                <div class="form-group">
                    <label>Taxes</label>
                    <input class="form-control" type="text" id="taxes" readonly></input>
                </div>
            </div>
            <div class="col-md-12 col-xs-12">
                <div class="form-group">
                    <label>Paid</label>
                    {{ form.forward_payment }}
                </div>
            </div>
            <div class="col-md-12 col-xs-12">
                <div class="form-group">
                    <label>Balance</label>
                    <input class="form-control" type="text" id="total" readonly></input>
                </div>
            </div>
        </div>
		<div class="col-md-12 text-center">
			<button class="btn btn-primary " type="submit">Guardar</button>
            {% if id %}
            <a href="{% url 'event:pdf' id%}" class="btn btn-default" target="_blank">Contract PDFS</a>
            {% endif %}
            <a href="{% url 'event:event_list' %}" class="btn btn-danger">Cancel</a>
		</div>
</form>
{{ form.errors }}
{{ form.non_field_errors }}
{{ form.media }}
{%endblock%}

{% block javascript %}
    <script type="text/javascript">
        var clientCreatModalURL = '{% url "settings:client_create" %}';

    </script>
    <script type="text/javascript" src="{% static 'js/event_create_form.js' %}"></script>
{% endblock %}