{% extends 'base/base.html' %}
{% load staticfiles %}
{% block extrastatic%}
    <link rel="stylesheet" type="text/css" href="{% static 'css/menuDisplay.css' %}">
    <style>
        div.bs-docs-section {
            /*display: none!important;*/
        }
    </style>
{% endblock %}
{% block content%}
    <div class="col-md-12 col-xs-12">
        {% include 'event/event_menu.html' %}
    </div>
    <div class="col-md-12 col-xs-12">
        {% include 'settings/settings_menu.html' %}
    </div>

{% endblock %}