.commentField{
    width: 100%;
    height: 349px;
}

.calculateTotal{
    /*
    *Is use to trigger onblur event with JQUERY
    *event_create_form.js
    *$('.calculateTotal').blur(...);
    */
}

.noPaddingLR{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.container .main{
    width: 100%;
}

.modalBtn{
    padding: 0px 5px 0px 5px!important;
}

div.modal-body>div.container.main>div.bs-docs-section.clearfix{
    display: none;
}