{% extends 'base/base.html' %}
{% load staticfiles %}
{% block extrastatic%}
    <link rel="stylesheet" type="text/css" href="{% static 'css/settings.css'%}">
{% endblock %}
{% block content%}
    <div class="content text-center">
        <h1>SETTINGS</h1>
        <div class="col-md-6 col-xs-12 block">
            <a href="{% url 'settings:client_list' %}"><div>
                <i class="fa fa-users" aria-hidden="true"></i>
                <p class="title">CLIENT</p>
            </div></a>
        </div>
        <div class="col-md-6 col-xs-12 block">
           <a href="{% url 'settings:item_list' %}"><div>
                <i class="fa fa-cube" aria-hidden="true"></i>
                <p class="title">ITEM</p>
           </div></a>
        </div>
        <div class="col-md-6 col-xs-12 block">
            <a href="{% url 'settings:location_list' %}"><div>
                <i class="fa fa-building-o" aria-hidden="true"></i>
                <p class="title">LOCATION</p>
            </div></a>
        </div>
        <div class="col-md-6 col-xs-12 block">
            <a href="#"><div>
                <i class="fa fa-users" aria-hidden="true"></i>
                <p class="title">USERS</p>
            </div></a>
        </div>
    </div>

{% endblock %}